input[type="text"], input[type="password"] {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 17pt;
    border: solid 2px darkblue;
    border-radius: 7px;
}

input[type="checkbox"] {
    display: inline-block;
}

input[type="submit"], input[type="button"]{
    display: block;
    font-family: Calibri, sans-serif;
    border: solid 2px darkblue;
    border-radius: 7px;
    background-color: white;
}

form > span {
    font-family: Calibri, sans-serif;
    font-size: 16pt;
    padding-left: 10px;
    vertical-align: 6px;
}

input[type="submit"] {
    display: block;
}

#success{
    color: green;
    margin-top: 25px;
    font-family: Calibri, sans-serif;
    font-size: 17pt;
    text-align: center;
}

#divForm {
    width: 500px;
    background-color: rgba(192, 192, 192, 0.8);
    margin: 20px auto;
    margin-top: 8vh;
    padding: 20px;
    padding-bottom: 40px;
    border: solid 2px darkblue;
    border-radius: 10px;
}
#nameForm{
    padding: 10px;
    width: 295px;
    margin: 0 auto;
    font-family: Calibri, sans-serif;
    font-size: 22pt;
    color: darkblue;
    text-align: center;
}
input[type="text"], input[type="password"] {
    width: 400px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 16pt;
    padding: 15px;
}
input[type="checkbox"] {
    width: 30px;
    height: 30px;
    margin-top: 40px;
    margin-left: 50px;
}


form > a {
    font-family: Calibri, sans-serif;
    font-size: 16pt;
    padding-left: 10px;
    vertical-align: 6px;
}

input[type="submit"], input[type="button"]{
    width: 230px;
    height: 50px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 16pt;
}
